:root {
  --mdui-elevation-level0: none;
  --mdui-elevation-level1:
    0px 0.5px 1.5px 0px rgba(var(--mdui-color-shadow), 19%),
    0px 0px 1px 0px rgba(var(--mdui-color-shadow), 3.9%),
    0px 0px 2.5px 0px rgba(var(--mdui-color-primary), 0.2);
  --mdui-elevation-level2:
    0 0.85px 3px 0 rgba(var(--mdui-color-shadow), 19%),
    0 0.25px 1px 0 rgba(var(--mdui-color-shadow), 3.9%),
    0px 0px 4px 0px rgba(var(--mdui-color-primary), 0.2);
  --mdui-elevation-level3:
    0 1.25px 5px 0 rgba(var(--mdui-color-shadow), 19%),
    0 0.3333px 1.5px 0 rgba(var(--mdui-color-shadow), 3.9%),
    0px 0px 6px 0px rgba(var(--mdui-color-primary), 0.2);
  --mdui-elevation-level4:
    0 1.85px 6.25px 0 rgba(var(--mdui-color-shadow), 19%),
    0 0.5px 1.75px 0 rgba(var(--mdui-color-shadow), 3.9%),
    0px 0px 7.25px 0px rgba(var(--mdui-color-primary), 0.2);
  --mdui-elevation-level5:
    0 2.75px 9px 0 rgba(var(--mdui-color-shadow), 19%),
    0 0.25px 3px 0 rgba(var(--mdui-color-shadow), 3.9%),
    0px 0px 10px 0px rgba(var(--mdui-color-primary), 0.2);

}

