:host {


  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overscroll-behavior: contain;
  touch-action: none;
  overflow: visible;

  --anim-speed: 0.3s;

}

/* @media (max-height: 400px){
  .card {
    margin: 0;
  }
} */

.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--mdui-elevation-level3), 0 0 100px -10px rgba(var(--mdui-color-primary), 0.6);
  background-color: rgb(var(--mdui-color-background));
  margin: 10vh auto;
  user-select: none;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer.right {
  flex-direction: row-reverse;
}

@keyframes open {
  from {
    transform: translate(var(--dx), var(--dy)) scale(var(--sx), var(--sy));
    /* transform: translate(var(--dx), var(--dy)) scale(0); */
    opacity: 0.5;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes open-scrim {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}



:host {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  animation: open-scrim var(--anim-speed) var(--mdui-motion-easing-standard);
}

:host>.card {
  transition: opacity var(--anim-speed) var(--mdui-motion-easing-standard);
  animation: open var(--anim-speed) var(--mdui-motion-easing-standard);
}

:host([closing]) {
  bottom: unset;
  height: 0;
}

:host([closing])>.card {
  opacity: 0;
  animation: close var(--anim-speed) var(--mdui-motion-easing-standard);
}